*
  margin: 0
  padding: 0
  text-decoration: none

@media only screen and (min-width: 1020px)
  
  body, html 
    height: 100%
    margin: 0


  header 
    background-image: url('vhoa0.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    height: 100%
    text-align: center

  h1
   position: relative
   color: peachpuff
   top: 3%
   font-size: 2vw
    
  img 
    margin: 3%
    height: 20vw
    width: 20vw
    border-radius: 50%
    border: .3vw solid cyan
  span 
    color: cyan

  a 
    color: silver

  .icons
        font-size: 4vw
        display: flexbox
@media only screen and (max-width: 1019)
  header
    margin: 10px
  img 
    margin: 3%
    height: 20vw
    width: 20vw
    border-radius: 50%
    border: .3vw solid cyan